
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0;
}
.cover {
    background-image:url(../img/cover-background.png);
    height: 900px;
    padding-top: 30px;

}
.social-top {
    float: right;
    padding: 10px;
}
menu {
    float: left;
}
li {
    display: inline;
    padding: 30px;
}

a:hover {
    color: black;
}
a {
    color: #6c6a68;
    padding-right: 10px;
    text-decoration: none;
}
button {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-variant: all-petite-caps;
    font-weight: bold;
}
.recent {

    margin: 120px auto;

}
.recent h2 {
    margin-bottom: 60px;
}

h1 {
    color: #c0a064;
    padding-top: 330px;
}
h5 {
    color: #6c6a68
}
h1, h3, h2, h5 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Lato', sans-serif;
    color: #6c6a68;
}
.discover {
    background: transparent;
    border: 1px solid #c0a064;
    color: #c0a064;
    text-align: center;
    margin: 0 auto 0;
    display: flex;
    padding: 20px 60px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.image1 {
    width: 770px;
    height: 770px;
}
.image2, .image3 {
    width: 370px;
    height: 370px;
    margin-right: 30px;
}
.image3 {
    margin: 30px;
}
.gallery {
    background: none;
}
.text {
    width: 400px;
    height: 340px;
    display: inline-block;
    margin:5% 0 0 5%;
}
.contact {
    margin-top: 220px;

}
.your-email {
    display: block;
    margin-bottom: 20px;


}
input, textarea {
    padding: 20px 220px 20px 20px;
    display: table;
    border: 1px solid;
    margin: 0 auto 0;
    border-bottom: none;
}

textarea {
     width: 143px;
     border-bottom: 1px solid;
 }

.social {
    display: table;
    margin: 0 auto 0;

}
.mobile-menu {
    display: none;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}




hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.invisible {
    visibility: hidden;
}


@media only screen and (max-width: 900px) {
    .wrapper {
        width: 690px;
        height: auto;

    }
    .social-top {
        display: none;
    }

    .cover {
   background-image:  url("../img/cover background-mobile.png");
    }
    h1 {
        padding-top: 360px;
    }
    .image1, .center, .women, .earth, .portrait {
        width: 690px;

    }
    .recent h2{
        margin-bottom: 20px;
    }
    .image2, .image3 {
        width: 330px;
        height: 330px;
        margin: 30px auto;
    }
    .text {
        text-align: center;
        margin: 5% 0 0 25%;
    }
    button {
        display: inline-block;
        margin: 0 auto 0;
    }
    .left {
        float: none;
    }
    menu {
        display: none;
    }
    .recent {
        margin: 60px auto;
    }
    .contact {
        margin-top: 20px;
    }
    .mobile-menu {
        float: right;
        display: block;
    }

}

@media only screen and (max-width: 360px) {
    .wrapper {
        width: 360px;
    }
    .cover {
        background-image: url("../img/cover background-mibile360.png");
        width: 330px;
        height: auto;
    }
    .image1, .center, .women, .earth, .portrait {
        width: 330px;
        height: auto;
    }
    .text {
        margin: 5% 0 0 10%;
        font-size: 10px;
    }
    .left {
        float: none;
    }
    .recent h2{
        margin-bottom: 10px;
    }

    menu {
        display: none;
    }

    .image2, .image3{
        margin: 10px 30px 10px 0px;
    }
    .text {
        width: 280px;
        height: auto;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .right {
        float: none;
    }
    input, textarea {
        padding: 10px 120px 10px 10px;

    }
    .recent {
        margin: 20px auto;
    }
    h1 {
        padding-top: 30px;
    }

}



